<a href="https://colab.research.google.com/github/Ariwibowogithub/DM1/blob/main/data_Preprocesing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

numpy merupakan library python digunakan untuk komputasi metriks
matplotlib merupakan library python untuk presentasi data berupa grafik atau plot....

In [10]:
df = pd.read_csv ('penjualan.csv')
df.head()

,No,Tanggal,Kode Pelanggan,Nama Pelanggan,Kode Produk,Nama Produk,Qty,Harga Satuan,Total Penjualan,Diskon,Penjualan Bersih
0,1,1-Aug,NF-01,Toko Nofri,B-05,Besi 5 Meter,340,200000,68000000,0.1,61200000
1,2,1-Aug,AN-02,Toko Anton,B-10,Besi 10 Meter,140,375000,52500000,0.0,52500000
2,3,1-Aug,CT-03,Toko Central,P-5,Pipa 5 Meter,560,100000,56000000,0.2,44800000
3,4,2-Aug,CT-03,Toko Central,P-10,Pipa 10 Meter,230,185000,42550000,0.1,38295000
4,5,2-Aug,AN-02,Toko Anton,B-05,Besi 5 Meter,770,200000,154000000,0.2,123200000