<a href="https://colab.research.google.com/github/Ariwibowogithub/DM1/blob/main/data_Preprocesing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

numpy merupakan library python digunakan untuk komputasi metriks
matplotlib merupakan library python untuk presentasi data berupa grafik atau plot....

In [16]:
df = pd.read_csv ('penjualan.csv')
df

,No,Tanggal,Kode Pelanggan,Nama Pelanggan,Kode Produk,Nama Produk,Qty,Harga Satuan,Total Penjualan,Diskon,Penjualan Bersih
0,1,1-Aug,NF-01,Toko Nofri,B-05,Besi 5 Meter,340,200000,68000000,0.1,61200000
1,2,1-Aug,AN-02,Toko Anton,B-10,Besi 10 Meter,140,375000,52500000,0.0,52500000
2,3,1-Aug,CT-03,Toko Central,P-5,Pipa 5 Meter,560,100000,56000000,0.2,44800000
3,4,2-Aug,CT-03,Toko Central,P-10,Pipa 10 Meter,230,185000,42550000,0.1,38295000
4,5,2-Aug,AN-02,Toko Anton,B-05,Besi 5 Meter,770,200000,154000000,0.2,123200000
5,6,2-Aug,NF-01,Toko Nofri,B-10,Besi 10 Meter,780,375000,292500000,0.2,234000000
6,7,2-Aug,AN-02,Toko Anton,P-5,Pipa 5 Meter,300,100000,30000000,0.1,27000000
7,8,2-Aug,NF-01,Toko Nofri,P-10,Pipa 10 Meter,790,185000,146150000,0.2,116920000
8,9,2-Aug,CT-03,Toko Central,B-05,Besi 5 Meter,440,200000,88000000,0.1,79200000
9,10,2-Aug,AN-02,Toko Anton,B-10,Besi 10 Meter,130,375000,48750000,0.0,48750000
10,11,3-Aug,NF-01,Toko Nofri,P-5,Pipa 5 Meter,360,100000,36000000,0.1,32400000
11,12,3-Aug,NF-01,Toko Nofri,P-10,Pipa 10 Meter,120,185000,22200000,0.0,22200000
12,13,3-Aug,AN-02,Toko Anton,P-5,Pipa 5 Meter,120,100000,12000000,0.0,12000000
13,14,3-Aug,NF-01,Toko Nofri,P-10,Pipa 10 Meter,720,185000,133200000,0.2,106560000
14,15,3-Aug,CT-03,Toko Central,P-10,Pipa 10 Meter,250,185000,46250000,0.1,41625000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   No                15 non-null     int64
 1   Tanggal           15 non-null     object
 2   Kode Pelanggan    15 non-null     object
 3   Nama Pelanggan    15 non-null     object
 4   Kode Produk       15 non-null     object
 5   Nama Produk       15 non-null     object
 6   Qty               15 non-null     int64
 7   Harga Satuan      15 non-null     int64
 8   Total Penjualan   15 non-null     int64
 9   Diskon            15 non-null     float64
 10  Penjualan Bersih  15 non-null     int64
dtypes: float64(1), int64(5), object(5)
memory usage: 1.4+ KB